<script lang="ts">
  import { currentTime, windowObject } from "$lib/tidy/stores/app.store";
  import { formatTime } from "$lib/tidy/utils/utils";
</script>

{#if $windowObject.landscapiness > 1.5 && $windowObject.scale > 1.5}
  <div
    class="flex justify-center items-center w-1/2 h-full opacity-10"
    style="font-size: {$windowObject.landscapiness * 100}px;"
  >
    {formatTime($currentTime)}
  </div>
{/if}
