<div class="flex flex-col justify-center items-center w-full h-full gap-4">
  <div class="w-40">
    <img src="flow_coming_soon.svg" alt="flow" />
  </div>
  <div class="text-h1 text-fgs1">Flow</div>
  <div class="text-b2 text-fgs2 text-center">
    Analytics about how you spend your time will be available soon...
  </div>
</div>
