<script lang="ts">
  import DatePicker from "$lib/tidy/elements/DatePicker.svelte";
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import { userPreferences } from "$lib/tidy/stores/app.store";
  import Switcher from "$lib/tidy/elements/switcher/Switcher.svelte";

  import CheckboxInput from "$lib/tidy/elements/CheckboxInput.svelte";
  import {
    pointronConstants,
    userLocalPreferences,
  } from "$lib/local/stores/local.store";
  import { resolvePointPageMode } from "$lib/local/utils/routeActions";
  export let parentBackgroundIndex: number = 1;
  function onDateChange(event: any) {
    $userPreferences.birthday = event.detail.date;
  }
</script>

<div class="flex flex-col gap-6 w-full">
  <TextInput
    label="Nickname"
    bind:value={$userPreferences.nickName}
    placeholder="nickname"
    {parentBackgroundIndex}
    info="Nickname and age will be shown on the sidebar when you use the app on bigger screens."
  />
  <div class="flex gap-8">
    <CheckboxInput
      label="Enable Age Counter"
      bind:checked={$userLocalPreferences.isEnableAgeCounter}
    />
  </div>
  {#if $userLocalPreferences.isEnableAgeCounter}
    <div class="flex flex-col gap-1">
      <div class="text-fgs2">Birthday</div>
      <div>
        <DatePicker
          {parentBackgroundIndex}
          date={new Date($userPreferences.birthday ?? new Date())}
          on:change={onDateChange}
        />
      </div>
    </div>
  {/if}
  <Switcher
    label="Timer mode"
    info="Use minimal mode to focus on one task per session"
    {parentBackgroundIndex}
    items={$pointronConstants.timerModes}
    bind:selectedIndex={$userLocalPreferences.timerMode}
    on:switch={resolvePointPageMode}
  />
</div>
