<!-- src/routes/ExamplePage.svelte -->
<script lang="ts">
  import Frontend from "$lib/play/Frontend.svelte";
  import PopoverUsingDialog from "$lib/play/PopoverUsingDialog.svelte";
  import SwipeAction from "$lib/play/SwipeAction.svelte";
  function handleSwipeRight() {
    console.log("Swiped right");
    // Start action or custom logic here
  }

  function handleSwipeLeft() {
    console.log("Swiped left");
    // Cancel action or custom logic here
  }
</script>

<Frontend />
<!-- <SwipeAction on:swipeRight={handleSwipeRight} on:swipeLeft={handleSwipeLeft}>
  <div class="bg-gray-200 p-4 rounded-md">Swipe me!</div>
</SwipeAction> -->
