<script lang="ts">
  import { BarType } from "$lib/local/types/intervalbar.type";
  import { formatTime } from "$lib/tidy/utils/utils";
  import { onDestroy, tick } from "svelte";

  let currentTimeString: string | undefined = undefined;
  export let progress: number = 0;
  export let color: string | undefined = undefined;
  export let type: BarType = BarType.INTERVAL;
  let timePadding: number = 0;
  let timer: any;
  let timeElapsed: number = 0;
  let isActiveProgress: boolean;
  let barClassList: string;
  let isEnableTimeString: boolean = false;
  $: barClassList =
    "relative z-10 h-full rounded-full " +
    (color
      ? `bg-[${color}]`
      : type === BarType.INTERVAL
      ? "bg-accent1"
      : "bg-accent2");
  $: {
    if (progress != 0 && progress != 1) {
      isActiveProgress = true;
      if (!timer) startTimer();
    } else {
      isActiveProgress = false;
      if (timer) clearTimer();
    }
  }

  function startTimer() {
    timer = setInterval(() => {
      tick();
      if (!isActiveProgress) {
        clearInterval(timer);
      }
      const timebox = document.querySelector("#timebox") as HTMLElement;
      const progressbox = document.querySelector(
        "#inprogressbox"
      ) as HTMLElement;
      let progressWidth = progressbox?.clientWidth;
      let timeWidth = timebox?.clientWidth;
      let pad = progressWidth - timeWidth / 2;
      if (timeElapsed > 20) timePadding = pad > 0 ? pad : 0;
      currentTimeString = formatTime(new Date());
      timeElapsed += 1;
    }, 100);
  }
  function clearTimer() {
    clearInterval(timer);
    timeElapsed = 0;
  }
  onDestroy(() => {
    clearTimer();
  });
</script>

<div class="flex flex-col">
  <div class="flex flex-row">
    {#if isEnableTimeString}
      <div
        id={isActiveProgress ? "timebox" : ""}
        class={progress != 0 && progress != 1 && timePadding > 0
          ? "bg-bgs2 rounded-md px-1 py-0.5 mb-1"
          : ""}
        style="margin-left: {timePadding}px;"
      >
        {#if isActiveProgress && currentTimeString && timePadding > 0}
          {currentTimeString}
        {/if}
      </div>
    {/if}
    <div class="grow" />
  </div>
  <div class="relative h-3 w-full rounded-full overflow-hidden mb-1">
    <div class="absolute bg-bgs3 w-full h-full" />
    <div
      id={isActiveProgress ? "inprogressbox" : ""}
      class={barClassList}
      style="width: {progress * 100}%"
    />
  </div>
</div>
