<script lang="ts">
  import MenuSwitcher from "$lib/tidy/elements/switcher/Switcher.svelte";
  import Summary from "./Summary.svelte";
  let menuItems = ["summary", "sessions"];
  let selectedMenuIndex: number = 1;
</script>

<!-- <MenuSwitcher {items} bind:selected={selectedMenuIndex} /> -->
<Summary />
