<!-- src/lib/DialogPopover.svelte -->
<script lang="ts">
  import { createEventDispatcher } from "svelte";
  export let isOpen: boolean = false;
  export let title: string = "Dialog";
  export let content: string = "";

  const dispatch = createEventDispatcher();
  let dialog: HTMLDialogElement;

  const closePopover = () => {
    isOpen = false;
    dialog.close();
    dispatch("close");
  };

  $: if (isOpen) dialog.showModal();
</script>

<dialog bind:this={dialog} class="popover">
  <div class="popover-header">
    <h2>{title}</h2>
    <button on:click={closePopover}>Close</button>
  </div>
  <div class="popover-content">
    {content}
    <slot />
  </div>
</dialog>

<style>
  /* Add your CSS styles to style the popover component */
</style>
