<script lang="ts">
    export let radius = 4;
</script>

<div class="flex justify-center items-center">
    <svg width={radius * 2} height={radius * 2}>
        <circle
            cx={radius}
            cy={radius}
            r={radius}
            class="fill-fgs3 opacity-50"
        />
    </svg>
</div>
