<script lang="ts">
  import Popover from "$lib/tidy/components/Popover/Popover.svelte";
  import { sessionStore } from "$lib/local/stores/session.store";
  import { Size } from "$lib/tidy/types/size.enum";
  import { onMount } from "svelte";
  import { localStore, pointronEvents } from "../stores/local.store";
  import type { PointronEvent } from "../types/pointronEvent.type";
  import { PointronEventEnum } from "../types/pointronEvent.enum";
  import { userPreferences } from "$lib/tidy/stores/app.store";
  import TextInput from "$lib/tidy/elements/TextInput.svelte";

  let isShowSessionFinishConfirmation: boolean = false;
  let isShowSessionRestoreConfirmation: boolean = false;
  $: isShowOnboarding =
    !$userPreferences.isOnboardingComplete && window.self === window.top;
  onMount(() => {
    pointronEvents.subscribe((x: PointronEvent) => {
      if (
        x.event === PointronEventEnum.FINISH_CONFIRMATION_POP &&
        typeof x.value === "boolean"
      ) {
        isShowSessionFinishConfirmation = x.value;
      } else if (
        x.event === PointronEventEnum.RESTORE_CONFIRMATION_POP &&
        typeof x.value === "boolean"
      ) {
        isShowSessionRestoreConfirmation = x.value;
      }
    });
  });
</script>

<slot />
<Popover
  size={Size.xs}
  bind:show={isShowSessionFinishConfirmation}
  on:primary={() => {
    sessionStore.finishSession();
    isShowSessionFinishConfirmation = false;
  }}
  on:secondary={() => {
    sessionStore.deleteSession();
    isShowSessionFinishConfirmation = false;
  }}
  primaryText="proceed"
  secondaryText="delete session"
>
  <div>Do you really want to finish session?</div>
</Popover>

<Popover
  size={Size.xs}
  bind:show={isShowSessionRestoreConfirmation}
  primaryText="proceed"
  secondaryText="ignore"
  on:primary={() => {
    //todo
    //restoreSession();
    isShowSessionRestoreConfirmation = false;
  }}
  on:secondary={() => {
    sessionStore.resetSession();
    isShowSessionRestoreConfirmation = false;
  }}
>
  <div>Do you want to restore previously started session?</div>
</Popover>
<Popover
  size={Size.lg}
  bind:show={isShowOnboarding}
  primaryText="lets go"
  isShowClose={false}
  on:primary={() => ($userPreferences.isOnboardingComplete = true)}
  isDismissable={false}
>
  <div class="flex flex-col gap-4 p-8 h-full">
    <div class="text-h1">Hi there!</div>
    <div>Thanks for taking your time to try {$localStore.appName}</div>
    <div>
      Please report any feedback to report@tidigit.com or join our <a
        href="https://discord.com/invite/9HJqKYTZKg"
      >
        <u>discord</u>
      </a>
    </div>
    <iframe
      class="w-full"
      height="315"
      src="https://www.youtube.com/embed/MO1pbFI1OOo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    />
    <div class="pt-2 grow">
      <TextInput
        bind:value={$userPreferences.nickName}
        label="Nickname (Optional)"
      />
    </div>
  </div>
</Popover>
