<script lang="ts">
  import { onMount } from "svelte";
  import {
    pointronEvents,
    userLocalPreferences,
  } from "$lib/local/stores/local.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import type { PointronEvent } from "../types/pointronEvent.type";
  import Popover from "$lib/tidy/components/Popover/Popover.svelte";
  import IntervalTimerText from "../components/session/IntervalTimerText.svelte";
  import { sessionStore } from "../stores/session.store";

  let src: string | null = null;
  let body: string = "";
  let audio: any;
  let isShowIntervalTimeLimitPopover: boolean = false;

  onMount(() => {
    pointronEvents.subscribe((event: PointronEvent) => {
      switch (event.event) {
        case PointronEventEnum.BREAK_ENDED:
          src = $userLocalPreferences.breakEndSound ?? "/sounds/ping.wav";
          body = "Break ended";
          break;
        case PointronEventEnum.INTERVAL_ENDED:
          src = $userLocalPreferences.focusEndSound ?? "/sounds/ping.wav";
          body = "Interval ended";
          break;
        case PointronEventEnum.INTERVAL_TIME_LIMIT_REACHED:
          src = $userLocalPreferences.focusEndSound ?? "/sounds/ping.wav";
          body = "Interval time limit reached";
          isShowIntervalTimeLimitPopover = true;
          break;
        case (PointronEventEnum.SESSION_FINISHED,
        PointronEventEnum.SESSION_TIME_IS_UP):
          src =
            $userLocalPreferences.sessionFinishSound ?? "/sounds/dingding.mp3";
          body = "Session finished";
          break;
      }
      if (src) {
        setTimeout(() => {
          // const notification = new Notification("Pointron session", {
          //   body,
          //   icon: "",
          // });
          audio?.play();
          setTimeout(() => {
            src = null;
            pointronEvents.reset();
          }, 2000);
        }, 200);
      }
    });
  });
</script>

<audio bind:this={audio} {src} />

<Popover
  bind:show={isShowIntervalTimeLimitPopover}
  primaryText="Take break"
  on:primary={() => {
    sessionStore.startBreak();
    isShowIntervalTimeLimitPopover = false;
  }}
>
  <div class="flex flex-col gap-12 items-center justify-center text-center">
    You have reached the interval time limit. You can continue working or take a
    break.
    <div class="flex flex-col items-center gap-4">
      <div class="font-semibold">Interval elapsed</div>
      <div class="text-8xl">
        <IntervalTimerText />
      </div>
    </div>
  </div>
</Popover>
