<script lang="ts">
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import type { Preset } from "$lib/local/types/preset.type";
  import { createEventDispatcher, onMount } from "svelte";
  import { windowObject } from "$lib/tidy/stores/app.store";
  const dispatch = createEventDispatcher();
  export let preset: Preset;
  let focus: number;
  let brek: number;
  let rounds: number;
  let focusUnits: string;
  export let isShowRemove: boolean = false;
  onMount(() => {
    rounds = preset.rounds ?? 2;
    focus = preset.duration ?? 28;
    brek = preset.brek ?? 2;
    focusUnits = focus > 60 ? "hours" : "minutes";
    if (focus > 60) focus = focus / 60;
  });
  function onRemoveClicked() {
    dispatch("remove", { preset });
  }
  function onFocusUnitChange(event: any) {
    focusUnits = event.detail.unit;
    if (focusUnits == "hours") focus = focus / 60;
    else focus = focus * 60;
  }
  function onChange() {
    let presetToBeSaved = {
      ...preset,
      duration: focusUnits == "minutes" ? +focus : +focus * 60,
      brek: +brek,
      rounds: +rounds,
    };
    preset = presetToBeSaved;
    dispatch("change", { preset: presetToBeSaved });
  }
</script>

<div class="flex flex-col gap-8 p-6 rounded-md border-2 border-bgs2">
  {#if isShowRemove}
    <div class="self-end">
      <button class="rounded-md bg-bgs2 py-1 px-2" on:click={onRemoveClicked}
        >remove</button
      >
    </div>
  {/if}
  <div
    class="flex {$windowObject.isInThinMode
      ? 'flex-col items-center'
      : ''} gap-2"
  >
    <div class={$windowObject.isInThinMode ? "w-full" : " w-1/3"}>
      <TextInput
        bind:value={rounds}
        placeholder="rounds"
        label="Focus"
        on:change={onChange}
      />
    </div>
    {#if $windowObject.isInThinMode}
      <div>x</div>
    {/if}
    <div class="self-end flex gap-3 items-center w-full">
      {#if !$windowObject.isInThinMode}
        <div>x</div>
      {/if}
      <TextInput
        bind:value={focus}
        on:unitChange={onFocusUnitChange}
        placeholder="duration"
        units={["minutes"]}
        on:change={onChange}
      />
    </div>
  </div>
  <TextInput
    bind:value={brek}
    units={["minutes"]}
    label="Break"
    placeholder="break"
    on:change={onChange}
  />
</div>
