<script lang="ts">
  import Element from "$lib/tidy/elements/Element.svelte";
  export let isActive: boolean = false;
  export let parentBackgroundIndex = 1;
  $: classList = "flex flex-row p-4 rounded-md gap-4 hover:bg-bgs3 ";
</script>

<Element {parentBackgroundIndex} on:click {classList} {isActive}>
  <!-- <div>
        <img src="images/interval.svg" alt="interval icon" />
    </div> -->
  <div class="flex flex-row items-center h-6 truncate">
    <slot />
  </div>
</Element>
