<script lang="ts">
  import PresetSelectorItem from "./PresetSelectorItem.svelte";
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  export let parentBackgroundIndex = 1;
  export let selectedPresetIndex: number = -1;
</script>

<div class="flex justify-center items-center gap-2 flex-wrap">
  {#each $userLocalPreferences.presets as preset, index}
    <PresetSelectorItem
      {parentBackgroundIndex}
      {preset}
      isActive={selectedPresetIndex === index}
      on:click
    />
  {/each}
</div>
